<!DOCTYPE html>
<html>
<head>
    <title>Cake List</title>
</head>
<body>
    <h1>Cake List</h1>
    <ul>
        {% for cake in cakes %}
            <li>{{ cake.name }}
                <ul>
                    {% for ingredient in cake.cakeingredient_set.all %}
                        <li>{{ ingredient.ingredient.name }}: {{ ingredient.quantity }} {{ ingredient.quantity_unit }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>